// Colors

$green: #5cb85c;
$blue: #0275d8;
$l-blue: #5bc0de;
$grayishblue: hsl(233, 8%, 62%);
$grayish:#E8E8E8;
$faded-white: #f7f7f7;
$dark: #292b2c ;

//font sizes

$font-med: 1.125rem; // 18px
$font-sm: 0.875rem; // 14px